In [2]:
# Import Dependancies
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
import  requests
import pymongo
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Setup Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\User\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

NASA MARS NEWS

In [3]:
# Get the URL for Nasa's Latest News
url = 'https://redplanetscience.com/'

# Open the URL
browser.visit(url)

In [4]:
# Create the HTML
html = browser.html

# Create BeautifulSoup Object
soup = bs(html, 'html.parser')

In [5]:
# Retrieve the Latest News data with Beautiful Soup
data = soup.find("div", id="news", class_="container")
print(data)

<div class="container" id="news">
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8506_mars-solar-conjunction-th.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">August 9, 2021</div>
<div class="content_title">What's Mars Solar Conjunction, and Why Does It Matter?</div>
<div class="article_teaser_body">NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8705_PIA23896-226.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">August 8, 2021</div>
<div class="content_title">NASA's InSight Flexes Its Arm While Its 'Mole' Hits Pause</div>
<div class="article_teaser_body">Now that the lander's robotic arm has helped the mole get underground, it will resume science activities that have been on hold.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8680_mavenmarselectriccurrents-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">August 6, 2021</div>
<div class="content_title">MAVEN Maps Electric Currents around Mars that are Fundamental to Atmospheric Loss</div>
<div class="article_teaser_body">Five years after NASA’s MAVEN spacecraft entered into orbit around Mars, data from the mission has led to the creation of a map of electric current systems in the Martian atmosphere.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8606_list_image.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 28, 2021</div>
<div class="content_title">NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network</div>
<div class="article_teaser_body">Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8595_mars_winds_preview_4-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 26, 2021</div>
<div class="content_title">NASA's MAVEN Maps Winds in the Martian Upper Atmosphere that Mirror the Terrain Below and Gives Clues to Martian Climate</div>
<div class="article_teaser_body">Researchers have created the first map of wind circulation in the upper atmosphere of a planet besides Earth, using data from NASA’s MAVEN spacecraft that were collected during the last two years.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8707_PIA23764-320.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 24, 2021</div>
<div class="content_title">7 Things to Know About the Mars 2020 Perseverance Rover Mission</div>
<div class="article_teaser_body">NASA's next rover to the Red Planet is slated to launch no earlier than July 30. These highlights will get you up to speed on the ambitious mission.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8408_22206_PIA22655-th.gif"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 23, 2021</div>
<div class="content_title">The MarCO Mission Comes to an End</div>
<div class="article_teaser_body">The pair of briefcase-sized satellites made history when they sailed past Mars in 2019.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8691_rover-overlay-226.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 22, 2021</div>
<div class="content_title">While Stargazing on Mars, NASA's Curiosity Rover Spots Earth and Venus</div>
<div class="article_teaser_body">This new portrait of the Red Planet's neighbors was taken during a time when there's more dust in the air on Mars.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8529_PIA23512-226.gif"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 22, 2021</div>
<div class="content_title">InSight's 'Mole' Team Peers into the Pit</div>
<div class="article_teaser_body">Efforts to save the heat probe continue.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8510_emmy20190916-32x24.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 19, 2021</div>
<div class="content_title">NASA Wins Two Emmy Awards for Interactive Mission Coverage</div>
<div class="article_teaser_body">NASA-JPL's coverage of the Mars InSight landing earns one of the two wins, making this the NASA center's second Emmy.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8551_PIA23551-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 18, 2021</div>
<div class="content_title">Mars Scientists Investigate Ancient Life in Australia</div>
<div class="article_teaser_body">Teams with NASA's Mars 2020 and ESA's ExoMars practiced hunting for fossilized microbial life in the Australian Outback in preparation for their Red Planet missions. </div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8518_PIA23373-320x240.gif"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 17, 2021</div>
<div class="content_title">NASA's Push to Save the Mars InSight Lander's Heat Probe</div>
<div class="article_teaser_body">The scoop on the end of the spacecraft's robotic arm will be used to 'pin' the mole against the wall of its hole.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8503_PIA23319-MAIN-226.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 14, 2021</div>
<div class="content_title">Robotic Toolkit Added to NASA's Mars 2020 Rover</div>
<div class="article_teaser_body">The bit carousel, which lies at the heart of the rover's Sample Caching System, is now aboard NASA's newest rover. </div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8531_PIA23467-320x240.gif"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 12, 2021</div>
<div class="content_title">Mars 2020 Unwrapped and Ready for More Testing</div>
<div class="article_teaser_body">In time-lapse video, bunny-suited engineers remove the inner layer of protective foil on NASA's Mars 2020 rover after it was relocated for testing.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8822_1-PIA24304-CatScanMars-320x240.gif"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 8, 2021</div>
<div class="content_title">A Martian Roundtrip: NASA's Perseverance Rover Sample Tubes</div>
<div class="article_teaser_body">Marvels of engineering, the rover's sample tubes must be tough enough to safely bring Red Planet samples on the long journey back to Earth in immaculate condition. </div>
</div>
</div>
</div>
</div>
</div>

In [6]:
# Use Beautiful Soup to get the Latest News Title & Paragraph Text
# Assign the text to Variables for later reference
news_title = data.find("div", class_="content_title").get_text()
paragraph = data.find("div", class_="article_teaser_body").get_text()

print(news_title)
print("--------------------------------")
print(paragraph)

What's Mars Solar Conjunction, and Why Does It Matter?
--------------------------------
NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.

In [7]:
browser.quit()

MARS SPACE IMAGES

In [8]:
# Use Splinter to Navigate the Page
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\User\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [10]:
# Get the URL for the Image
featured_image_url = 'https://spaceimages-mars.com/image/featured/mars1.jpg'
# # Use Browser to open the URL for the Image
browser.visit(featured_image_url)

In [26]:
# # Create HTML to Parse
# html = browser.html

# # Create BeautifulSoup Object
# soup = bs(html, 'html.parser')

In [23]:
# # Use BeautifulSoup to Navigate to the Image
# image = soup.find("img", class_="style" "src" "width" "height")
# # Display larger size image
# image

In [29]:
# Create the URL for the Image
# featured_image_url = "image_url" + image
# print(featured_image_url)

In [11]:
browser.quit()

MARS FACTS

In [3]:
# Get the URL for Mar's Facts
facts_url = 'https://galaxyfacts-mars.com/'

# # Use Pandas to Parse the URL (read to html)
table = pd.read_html(facts_url)
table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [4]:
# Convert the Data Table into a HTML table string
facts_df = table[0]
facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [5]:
# Rename the Columns
facts_df.columns = "Description", "Values", "Earth"
facts_df

               Description           Values            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [8]:
# Drop the Earth Column
facts_df = facts_df.drop(columns = ["Earth"])
facts_df

               Description           Values
0  Mars - Earth Comparison             Mars
1                Diameter:         6,779 km
2                    Mass:  6.39 × 10^23 kg
3                   Moons:                2
4       Distance from Sun:   227,943,824 km
5          Length of Year:   687 Earth days
6             Temperature:     -87 to -5 °C

In [9]:
# Drop the First Row Information
facts_df = facts_df.drop(0)
facts_df

          Description           Values
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days
6        Temperature:     -87 to -5 °C

In [10]:
# Reset the Index for the DataFrame
facts_df.set_index("Description", inplace=True)
facts_df

                             Values
Description
Diameter:                  6,779 km
Mass:               6.39 × 10^23 kg
Moons:                            2
Distance from Sun:   227,943,824 km
Length of Year:      687 Earth days
Temperature:           -87 to -5 °C

In [12]:
# Convert the DataFrame into a HTML Table String
facts_html = facts_df.to_html()
print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Values</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
  </tbody>
</table>

MARS HEMISPHERES

In [25]:
# Use Splinter to Navigate the Page
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\User\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [26]:
# Get the URL for the Image
url = 'https://marshemispheres.com/'
# # Use Browser to open the URL for the Image
browser.visit(url)

In [27]:
# Create HTML to Parse
html = browser.html

# Create BeautifulSoup Object
soup = bs(html, 'html.parser')

In [29]:
# Retrieve the Images with Beautiful Soup
data = soup.find_all("div", class_="item")
print(data)

[<div class="item">
<a class="itemLink product-item" href="cerberus.html"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="cerberus.html">
<h3>Cerberus Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p>
</div>
<!-- end description -->
</div>, <div class="item">
<a class="itemLink product-item" href="schiaparelli.html"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="schiaparelli.html">
<h3>Schiaparelli Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p>
</div>
<!-- end description -->
</div>, <div class="item">
<a class="itemLink product-item" href="syrtis.html"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="syrtis.html">
<h3>Syrtis Major Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p>
</div>
<!-- end description -->
</div>, <div class="item">
<a class="itemLink product-item" href="valles.html"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="valles.html">
<h3>Valles Marineris Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p>
</div>
<!-- end description -->
</div>]

In [31]:
# Navigate the page to obtain high res Images for each Mar's Hemispheres (Image & Title)
data = soup.find_all("div", class_="item")

hemisphere_img_urls = []

# # Loop through the image data to find title & url info
for d in data:
    
    title = d.find("h3").text
    
    img_url = d.a["href"]
    
    url = "https://marshemispheres.com/" + img_url
    
# Use requests to get Full Image URL
    response = requests.get(url)
    
# Create Soup Object
    soup = bs(response.text, "html.parser")
    
# Find Full Image URL
    new_url = soup.find("img", class_="wide-image")["src"]
    
# Create Full Image URL
    full_url = "https://marshemispheres.com/" + new_url
    
# Create a Dictionary & Append to a List (One Dict for each hemishpere)
    hemisphere_img_urls.append({"title": title, "img_url": full_url})
    
hemisphere_img_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [32]:
browser.quit()