In [1]:
# Import Dependancies
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
import  requests
import pymongo
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Setup Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\User\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

NASA MARS NEWS

In [3]:
# Get the URL for Nasa's Latest News
url = 'https://redplanetscience.com/'

# Open the URL
browser.visit(url)

In [4]:
# Create the HTML
html = browser.html

# Create BeautifulSoup Object
soup = bs(html, 'html.parser')

In [5]:
# Retrieve the Latest News data with Beautiful Soup
data = soup.find("div", id="news", class_="container")
print(data)

<div class="container" id="news">
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8801_20201118_mars2020-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">August 10, 2021</div>
<div class="content_title">Hear Audio From NASA's Perseverance As It Travels Through Deep Space</div>
<div class="article_teaser_body">The first to be rigged with microphones, the agency's latest Mars rover picked up the subtle sounds of its own inner workings during interplanetary flight.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8817_PIA23180_320.gif"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">August 9, 2021</div>
<div class="content_title">3 Things We've Learned From NASA's Mars InSight </div>
<div class="article_teaser_body">Scientists are finding new mysteries since the geophysics mission landed two years ago.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8710_MARS2020_LAUNCH_320.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">August 6, 2021</div>
<div class="content_title">Join NASA for the Launch of the Mars 2020 Perseverance Rover</div>
<div class="article_teaser_body">No matter where you live, choose from a menu of activities to join NASA as we "Countdown to Mars" and launch the Perseverance rover to the Red Planet.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8606_list_image.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">August 4, 2021</div>
<div class="content_title">NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network</div>
<div class="article_teaser_body">Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8796_PIA24173-320.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">August 1, 2021</div>
<div class="content_title">NASA's Curiosity Takes Selfie With 'Mary Anning' on the Red Planet</div>
<div class="article_teaser_body">The Mars rover has drilled three samples of rock in this clay-enriched region since arriving in July.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8704_PIA23973-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 25, 2021</div>
<div class="content_title">Curiosity Mars Rover's Summer Road Trip Has Begun</div>
<div class="article_teaser_body">After more than a year in the "clay-bearing unit," Curiosity is making a mile-long journey around some deep sand so that it can explore higher up Mount Sharp.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8545_24679_PIA23470-1041_320x240px.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 20, 2021</div>
<div class="content_title">NASA's Mars 2020 Heads Into the Test Chamber</div>
<div class="article_teaser_body">In this time-lapse video taken at JPL, engineers move the Mars 2020 rover into a large vacuum chamber for testing in Mars-like environmental conditions.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8575_PIA23519-SAF-unannot-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 19, 2021</div>
<div class="content_title">Space History Is Made in This NASA Robot Factory</div>
<div class="article_teaser_body">From rockets to rovers, JPL's Spacecraft Assembly Facility has been at the center of robotic spaceflight. Here's a closer look at what makes it so special.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8657_1-PIA23884-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 19, 2021</div>
<div class="content_title">NASA's Perseverance Rover Mission Getting in Shape for Launch</div>
<div class="article_teaser_body">Stacking spacecraft components on top of each other is one of the final assembly steps before a mission launches to the Red Planet. </div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8712_PIA23720-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 18, 2021</div>
<div class="content_title">6 Things to Know About NASA's Ingenuity Mars Helicopter</div>
<div class="article_teaser_body">The first helicopter attempting to fly on another planet is a marvel of engineering. Get up to speed with these key facts about its plans.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8594_apo_proton_aurora_no_text-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 16, 2021</div>
<div class="content_title">Newfound Martian Aurora Actually the Most Common; Sheds Light on Mars' Changing Climate</div>
<div class="article_teaser_body">A type of Martian aurora first identified by NASA’s MAVEN spacecraft in 2016 is actually the most common form of aurora occurring on the Red Planet, according to new results from the mission.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8687_PIA23893-Odyssey-Phobos-320.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 11, 2021</div>
<div class="content_title">Three New Views of Mars' Moon Phobos</div>
<div class="article_teaser_body">Taken with the infrared camera aboard NASA's Odyssey orbiter, they reveal temperature variations on the small moon as it drifts into and out of Mars’ shadow.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8522_PIA21261-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 11, 2021</div>
<div class="content_title">NASA's Curiosity Rover Finds an Ancient Oasis on Mars</div>
<div class="article_teaser_body">New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8678_21379_PIA22107-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 11, 2021</div>
<div class="content_title">The Detective Aboard NASA's Perseverance Rover</div>
<div class="article_teaser_body">An instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8724_launchscreen-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">July 9, 2021</div>
<div class="content_title">NASA, ULA Launch Mars 2020 Perseverance Rover Mission to Red Planet</div>
<div class="article_teaser_body">The agency's Mars 2020 mission is on its way. It will land at Jezero Crater in about seven months, on Feb. 18, 2021. </div>
</div>
</div>
</div>
</div>
</div>

In [6]:
# Use Beautiful Soup to get the Latest News Title & Paragraph Text
# Assign the text to Variables for later reference
news_title = data.find("div", class_="content_title").get_text()
paragraph = data.find("div", class_="article_teaser_body").get_text()

print(news_title)
print("--------------------------------")
print(paragraph)

Hear Audio From NASA's Perseverance As It Travels Through Deep Space
--------------------------------
The first to be rigged with microphones, the agency's latest Mars rover picked up the subtle sounds of its own inner workings during interplanetary flight.

MARS SPACE IMAGES

In [8]:
# Use Splinter to Navigate the Page
# executable_path = {'executable_path': ChromeDriverManager().install()}
# browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\User\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [7]:
# Get the URL for the Image
image_url = 'https://spaceimages-mars.com'
# # Use Browser to open the URL for the Image
browser.visit(image_url)

In [8]:
# # Create HTML to Parse
html = browser.html

# # Create BeautifulSoup Object
soup = bs(html, 'html.parser')

In [9]:
# # Use BeautifulSoup to Navigate to the Image
image = soup.find("img", class_="headerimage")
# Display larger size image
image

In [14]:
image = image.attrs['src']

In [17]:
# Create the URL for the Image
featured_image_url = image_url + "/" + image
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

MARS FACTS

In [18]:
# Get the URL for Mar's Facts
facts_url = 'https://galaxyfacts-mars.com/'

# # Use Pandas to Parse the URL (read to html)
table = pd.read_html(facts_url)
table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [19]:
# Convert the Data Table into a HTML table string
facts_df = table[0]
facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [20]:
# Rename the Columns
facts_df.columns = "Description", "Values", "Earth"
facts_df

               Description           Values            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [21]:
# Drop the Earth Column
facts_df = facts_df.drop(columns = ["Earth"])
facts_df

               Description           Values
0  Mars - Earth Comparison             Mars
1                Diameter:         6,779 km
2                    Mass:  6.39 × 10^23 kg
3                   Moons:                2
4       Distance from Sun:   227,943,824 km
5          Length of Year:   687 Earth days
6             Temperature:     -87 to -5 °C

In [22]:
# Drop the First Row Information
facts_df = facts_df.drop(0)
facts_df

          Description           Values
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days
6        Temperature:     -87 to -5 °C

In [23]:
# Reset the Index for the DataFrame
facts_df.set_index("Description", inplace=True)
facts_df

                             Values
Description
Diameter:                  6,779 km
Mass:               6.39 × 10^23 kg
Moons:                            2
Distance from Sun:   227,943,824 km
Length of Year:      687 Earth days
Temperature:           -87 to -5 °C

In [24]:
# Convert the DataFrame into a HTML Table String
facts_html = facts_df.to_html()
print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Values</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
  </tbody>
</table>

MARS HEMISPHERES

In [18]:
# Use Splinter to Navigate the Page
# executable_path = {'executable_path': ChromeDriverManager().install()}
# browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\User\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [25]:
# Get the URL for the Image
url = 'https://marshemispheres.com/'
# # Use Browser to open the URL for the Image
browser.visit(url)

In [26]:
# Create HTML to Parse
html = browser.html

# Create BeautifulSoup Object
soup = bs(html, 'html.parser')

In [27]:
# Retrieve the Images with Beautiful Soup
data = soup.find_all("div", class_="item")
print(data)

[<div class="item">
<a class="itemLink product-item" href="cerberus.html"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="cerberus.html">
<h3>Cerberus Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p>
</div>
<!-- end description -->
</div>, <div class="item">
<a class="itemLink product-item" href="schiaparelli.html"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="schiaparelli.html">
<h3>Schiaparelli Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p>
</div>
<!-- end description -->
</div>, <div class="item">
<a class="itemLink product-item" href="syrtis.html"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="syrtis.html">
<h3>Syrtis Major Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p>
</div>
<!-- end description -->
</div>, <div class="item">
<a class="itemLink product-item" href="valles.html"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="valles.html">
<h3>Valles Marineris Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p>
</div>
<!-- end description -->
</div>]

In [28]:
# Navigate the page to obtain high res Images for each Mar's Hemispheres (Image & Title)
data = soup.find_all("div", class_="item")

hemisphere_img_urls = []

# # Loop through the image data to find title & url info
for d in data:
    
    title = d.find("h3").text
    
    img_url = d.a["href"]
    
    url = "https://marshemispheres.com/" + img_url
    
# Use requests to get Full Image URL
    response = requests.get(url)
    
# Create Soup Object
    soup = bs(response.text, "html.parser")
    
# Find Full Image URL
    new_url = soup.find("img", class_="wide-image")["src"]
    
# Create Full Image URL
    full_url = "https://marshemispheres.com/" + new_url
    
# Create a Dictionary & Append to a List (One Dict for each hemishpere)
    hemisphere_img_urls.append({"title": title, "img_url": full_url})
    
hemisphere_img_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [29]:
browser.quit()